body {
    background-color: #4b4646;
}
.imageboardtitle {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: 4px 4px 7px #090e45;
    font-family: Trebuchet MS;
    text-decoration: underline;
}
#main {
    color: white;
}
.image {
    padding-top: 10px;
}
.input {
    border-radius: 5px;
    box-shadow: 2px 10px 14px -7px #0f208a;
}
.images-container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 40px;
    font-family: Trebuchet MS;
    font-size: 15px;
}
.popwindow {
    justify-content: center;
    text-align: center;
    font-family: Trebuchet MS;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.close {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}
.image {
    width: 600px;
    height: 600px;
}
#comments {
    background-color: white;
    border-radius: 5px;
}
.submit2 {
    background: blue;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}
img {
    border-width: thick;
    border: white 1px;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 14px -7px #000000;
}

.formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.handleFileChange {
    -moz-box-shadow: 2px 10px 14px -7px #0f208a;
    -webkit-box-shadow: 2px 10px 14px -7px #0f208a;
    box-shadow: 2px 10px 14px -7px #0f208a;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #9c259c),
        color-stop(1, #4662eb)
    );
    background: -moz-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -webkit-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -o-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -ms-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: linear-gradient(to bottom, #9c259c 5%, #4662eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c259c', endColorstr='#4662eb',GradientType=0);
    background-color: #9c259c;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 6px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 7px;
    font-weight: normal;
    padding: 5px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #090e45;
}
.handleFileChange:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #4662eb),
        color-stop(1, #9c259c)
    );
    background: -moz-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -webkit-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -o-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -ms-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: linear-gradient(to bottom, #4662eb 5%, #9c259c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4662eb', endColorstr='#9c259c',GradientType=0);
    background-color: #4662eb;
}
.handleFileChange:active {
    position: relative;
    top: 1px;
}

.uploadFile {
    -moz-box-shadow: 2px 10px 14px -7px #0f208a;
    -webkit-box-shadow: 2px 10px 14px -7px #0f208a;
    box-shadow: 2px 10px 14px -7px #0f208a;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #9c259c),
        color-stop(1, #4662eb)
    );
    background: -moz-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -webkit-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -o-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: -ms-linear-gradient(top, #9c259c 5%, #4662eb 100%);
    background: linear-gradient(to bottom, #9c259c 5%, #4662eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c259c', endColorstr='#4662eb',GradientType=0);
    background-color: #9c259c;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 6px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #090e45;
}
.uploadFile:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #4662eb),
        color-stop(1, #9c259c)
    );
    background: -moz-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -webkit-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -o-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: -ms-linear-gradient(top, #4662eb 5%, #9c259c 100%);
    background: linear-gradient(to bottom, #4662eb 5%, #9c259c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4662eb', endColorstr='#9c259c',GradientType=0);
    background-color: #4662eb;
}
.uploadFile:active {
    position: relative;
    top: 1px;
}
